{%- assign link_url = url | default: settings.wholesale_page_url | default: '/pages/wholesale' -%}
{%- assign link_url = link_url | replace: 'shopify://', '/' -%}
<a href="{{ link_url }}" class="suggest-item">
  {%- if product.featured_media != blank -%}
    <figure class="wt-cart__item__thumb suggest-item__thumb">
      {% assign suggest_aspect_ratio = featured_media.aspect_ratio | default: 1 %}
      <img
        src="{{ featured_media | image_url: width: 150 }}"
        alt="{{ featured_media.alt | escape }}"
        width="150"
        height="{{ 150 | divided_by: suggest_aspect_ratio | round }}"
        loading="lazy"
      >
    </figure>
  {%- endif -%}
  <div class="wt-cart__item__body suggest-item__body">
    <div class="wt-cart__item__data">
      {%- if settings.show_product_vendor -%}
        <div class="wt-cart__item__vendor">{{ product.vendor }}</div>
      {% endif %}
      <h3 class="wt-cart__item__name">{{ name }}</h3>

      <div class="wt-cart__item__price">
        {% render 'wholesale-cta',
          wholesale_class: 'hero__button hero__button--secondary suggest-item__cta',
          wholesale_linkless: true
        %}
      </div>

      {% if rating %}
        {% assign rating_percent = rating.rating | times: 100.0 | divided_by: 5.0 %}
        {% render 'rating-stars', percent: rating_percent %}
      {% endif %}
    </div>
  </div>
</a>
